@media all and (max-width: 575px) {
  .image-container .image{
    width: 290px!important;
    height: 290px!important;
  }
  .image-container .image-info {
    width: 290px!important;
    opacity: 1!important;
  }
  .image-col {
    padding: 0px;
    width:100%!important;
    height: auto!important;
  }
  .image-modal{
    margin-left: 0px!important;  
  }
  img.img-responsive.object-big{
    width: auto!important;
    height: auto!important;

  }
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#header {
  height: 380px;
  margin-bottom: 20px;
  background-position: center;
}

#header .navigation {
  margin-top: 15px;
  padding-left: 55px;
}
#header .navigation a{
  color: #fff;
  text-decoration: none;
  font-size: 21px;
  margin-right: 20px;
  padding-bottom: 2px;
  border-bottom: 2px solid rgba(0,0,0,0);
  transition: border-color 0.2s linear;
  -moz-transition: border-color 0.2s linear;    /* FF3.7+ 
  -o-transition: border-color 0.2s linear;      /* Opera 10.5 */
  -webkit-transition: border-color 0.2s linear;
  padding: 0 5px 5px 5px;
}

#header .navigation a:hover{
  border-color: #fff;
  text-decoration: none;
  padding: 0 5px 5px 5px;
}

#header .navigation a.active{
  border-bottom: 2px solid #fff;
  padding: 0 5px 5px 5px;
}

.logo {
  margin-top: 15px;
  height: 90px;
  width: 90px;
}


.image-col {
  padding: 0;
  /*width: 22.25%;*/
}

.image-modal {
  position: fixed;
  margin-left: 20%;
  max-width: 620px!important;
  top: 25px;
  background-color: #f5f5f5;
  color: #7F7F7F;
  padding: 10px 10px 0 10px;
  z-index: 101;
  -webkit-box-shadow: 0px 0px 106px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 106px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 106px 1px rgba(0,0,0,0.5);
}
video.embed-responsive-item {
  max-width: 600px!important;
}
video.embed-responsive-item{
  position: relative!important;
}
.image-modal a,
.image-modal a:hover{
  color: #7F7F7F;
}
.image-modal-backdrop{
  background: black;
  opacity: .3;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;

}
.object-big {
  max-height: 600px!important;
  margin: 0 auto;
}

.image-modal .description {
  margin: 10px 0;
  font-size: 16px;
}
.image-modal .description .col-xs-5{
  padding: 0 5px;
}
.image-modal .description .fa-instagram{
  margin-right: 5px
}

.image-modal .description p {
  font-size: 12px;
  margin: 0px;
  font-weight: 400;
}

.image-modal .description h5{
  margin: 0;
}

i.fa.fa-external-link {
  padding-left: 5px;
}

.image-container {
  margin-bottom: 10px;
}

.image-container .image {
  width: 280px;
  height: 280px;
  margin:0 auto;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.35);
}

.image-container .image-info .date {
  color: white;
  padding-right: 7px!important;
  font-weight: bold;
}

.image-container:hover .image-info {
  opacity: 1;
}

.image-container .image-info {
  opacity: 0;
  width: 280px;
  background-image: image-url('slice.png');
  background-repeat: repeat-x;
  padding-top: 10px!important;
  padding-bottom: 7px!important;
  margin:0 auto;
  margin-top: -37px;
  transition: .3s ease;
  -webkit-transform: translateZ(0px);
}

.image-container .image-info .col-xs-4,
.image-container .image-info .col-xs-8,
.image-container .image-info .row {
  padding: 0;
}

.image-container .image-info a {
  color: white;
  float: left;
  font-weight: bold;
  margin-left: 7px;
}
.image-container .image-info a .fa-instagram {
  margin-right: 3px;
  margin-left: 4px;
}


.image-container .image-info a:hover{
  color: white;
  text-decoration: none;
}

.video-play {
  position: absolute;
  width: 95px;
  height: 95px;
  top: 47%;
  margin: -50px;
  right: 50%;
  background-image: url('/images/video-button.png');
  transition: .3s ease;
  opacity: 0.7;
}

.video-play:hover {
  cursor:pointer;
  opacity: 1;
}
.modal-show-animation-appear {
  opacity: 0.01;
}

.modal-show-animation-appear.modal-show-animation-appear-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}

/*.ads {
  font-size: 10px;
  color: #bebebe;
  margin-bottom: 14px;
}
*/
.image-container:hover .video-play span {
  border-top:12px solid transparent;
  border-bottom:12px solid transparent;
  border-left:20px solid #fff;
}

.image-container:hover .video-play {
  border-color: #fff;
}
/*.image-container img.portrait {
  width: 100%;
  height: auto;
}*/

.loader-witout-animation {
  margin: 150px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(57, 150, 255, 0.58);
  border-right: 1.1em solid rgba(57, 150, 255, 0.58);
  border-bottom: 1.1em solid rgba(57, 150, 255, 0.58);
  border-left: 1.1em solid rgba(57, 150, 255, 0.58);
}
.loader {
  margin: 150px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(57, 150, 255, 0.58);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.5s infinite linear;
  animation: load8 0.5s infinite linear;
}
.loader,
.loader:after,
.loader-witout-animation,
.loader-witout-animation:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.modal-show-animation-appear {
  opacity: 0.01;
}

.modal-show-animation-appear.modal-show-animation-appear-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}
.img-hide{
  opacity: 0;
}
.blur {
  -webkit-filter: blur(5px);
}