#header{style: "background-image: url('/images/back_#{@type}_#{rand(1..5)}.jpg')"}
  .row
    .col-lg-6.col-lg-offset-6.col-xs-12.text-center.navigation
      %a#cars{href: '/cars'} CARS
      %a#travel{href: '/travel'} TRAVEL
      %a#luxury{href: '/luxury'} LUXURY