/ = "<img src=\"/images/logo.png\" class=\"logo\">"
/ = "<img src=\"/images/back_1.jpg\" class=\"img-responsive background-image\">"
.row{style: 'margin-top: -60px'}
  #root
  %div{id: "root_#{@type}"}
.row
  .col-xs-12.text-center
    #loader
