<!DOCTYPE HTML>
%html
  %head
    %title 
      InstaPhotos    
    != css :application, :media => 'screen'
    != js :application
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script type="text/babel" src="js/main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
%body
  %header
    = haml :header
  .container            
    = yield
  = haml :_yandex